/**
 *
 * Apply your custom CSS here
 *
*/

body {	
}

a {
}

.chat-form {
    bottom: 0px;
    position: absolute;
    border-top: 1px solid whitesmoke;
    width: 100%;
}

.conversation-window {
    min-height: 300px;
}

.footer-sticked-chat .chat-conversations>li .conversation-window .conversation-messages {
    margin-bottom: 30px !important;
}

.user-info .tooltip {

}